/* FieldWrapper Styles */
.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 2px;
  font-weight: 400;
}

.errorPlaceholder,
.errorMessage {
  min-height: 1.3rem;
  font-size: 0.7rem;
  display: block;
  width: 100%;
  margin: 1px 0 2px 0;
}

.errorMessage {
  color: #f00;
  display: inline-block;
}

.description {
  font-size: 0.7rem;
  color: #828282;
  display: inline-block;
  margin: 1px 0 0 0;
}

.requiredIndicator {
  color: #f00;
  padding-left: 2px;
}
